<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Funko Store</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="maincontainer">  
      <div>Agregar nuevo producto.</div>
      <div>Nombre</div>
      <input class="prodName" type="text" name="">
      <div>Imagen</div>
      <input type="text" name="">
      <div>Precio</div>
      <input type="text" name="">


    </div> 
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>