body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.useract-container{
	height: 100%;
	list-style: none;
	padding-left: 0px;
	display: flex;
	font-family: sans-serif;
	font-size:18px;
}
.text{
	margin: 0px 20px;
	color: white;
}
.header{
	width: 100%;
	height: 60px;
  background: linear-gradient(red, transparent);
  display: flex;
	justify-content: center;
	align-items: center;
}
.logo-container{
	height: 100%;
	width: 10%;
}
.logo{
	width: 100%;
	height: 100%;
}
.nav-container{
	width: calc(100% - 100px);
	margin:auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-container{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logincontainer{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.prodscontainer{
	width: 80%;
	height: auto;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
}

.prod-container{
	width: 200px;
	height: auto;
	padding: 5px 5px;
	flex-direction: column;
	border: 1px solid gray;
}

.img-container{
	width: 100%;
	height: auto;
}

img{
	width: 100%;
	height: auto;
}
.texto-container{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
}

input{
	width: 600px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid black;
	text-align: center;
	font-size: 15px;
}

p{
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
}


#enviar{
	background-color: red;
	}

.botcontainer{
	width: calc(100% - 800px);
	display: flex;
	justify-content: space-around;
}

.boton{
	width: 200px;
	height: 40px;
	color: white;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.newPost{
	background-color: green;
}

.volver{
	background-color: red;
}









